body {
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  background-color: #fffce3;
  height: 100%;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  width: 100%;
  max-width: 320px;
  overflow: auto;
  margin-right: 5px;
  padding: 5px;
  background-color: #d3d0ba;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

ul {
  list-style-type: none;
}

li::before {
  content: "📄 ";
}

li.folder::before {
  content: "📂 ";
}

textarea {
  width: 100%;
  height: 100%;
  padding: 0;
}
